<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>laibelprinter - pictures</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <style type="text/css">
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .container100 {
                flex-direction: column;
                height: 100%;
            }
            .form-group {
                display: flex;
            }
            .label100 {
                flex: 1;
            }
            body {

                font-family: monospace;
            }
        </style>
    </head>
    <body>
        <h1>WIP - NOT READY!</h1>
        <form method="POST" target="_blank" enctype="multipart/form-data" class="form-group container container100" name="form_pictures">
            <input type="hidden" name="printMode" value="pictures">
            <div>
                <div class="form-group">
                    <label class="label100" for="submitPicture">Submit Picture to print:</label>
                    <input id="submitPicture" name="submitPicture" type="file" size="50" accept="image/jpg|image/jpeg|image/png">
                </div>
            </div>

            <div class="form-group container">
                <input type="submit" value="PRINT" class="btn btn-primary ">
            </div>
        </form>
    </body>
</html>